/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
  margin: 30px;
  border: 1px solid grey;
  padding: 20px;
  font-family: "Bree Serif", serif;
  width: 400px;
  display: inline-block;
  /* position: absolute; */
}
.parole {
  position: relative;
}
.parole span {
  position: absolute;
  left: 10px;
  width: 150px;
}
.parole span:nth-child(1) {
  position: absolute;
  color: rgb(101, 138, 156);
  animation: roll 3s 0s infinite backwards;
}
.parole span:nth-child(2) {
  position: absolute;
  animation: roll 3s 1s infinite backwards;
  color: rgb(101, 138, 156);
}
.parole span:nth-child(3) {
  position: absolute;
  animation: roll 3s 2s infinite backwards;
  color: rgb(101, 138, 156);
}

@keyframes roll {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  /* 70% {
    transform: translateY(0);
    opacity: 1;
  } */
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
